# Crystal artifacts
/bin/
/lib/
/shard.lock
*.dwarf
*.pdb

# Build output
/build/
*.cbc
*.cbcsym
*.elf
!runtime/bin/citrine_runner.elf
*.iso
*.o
*.a
*.exe

# Testing / Scratch
/docs/
/scratch/
/tmp/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
